<div align="center" style="background:url('/assets/dri.png') no-repeat #999; height:900px;">
  <p style="color:rgb(230, 100, 14);font-style:oblique;font-size:70px;">KUSKI<br>
    <span style="color:rgb(55, 56, 51);font-size:40px">Our drivers at your service</span>
  </p>
  
  <p style="color:white;font-size:35px; "><b>NEED A DRIVER? <BR>
    WELCOME TO KUSKI, YOUR ONE STOP SHOP FOR ALL YOUR DRIVER RELATED NEEDS. 
    WHETHER YOU WANT A DRIVER, ON HOURLY, PART TIME OR FULL TIME, WE'LL GET YOU THE MOST TRUSTED DRIVER. </b></p>
  <BR><br><BR><br><BR><br><BR><br><BR><br>
  
    <div class="marquee"> <i style="color:rgb(230, 100, 14);font-size:60px;">Coming Soon</i></div>
</div>