.marquee {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 40s linear infinite;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 80%;}
    100% {left: 0%;}
}